.plans h4 {
  -webkit-text-stroke: 2px #d9ac716b;
  color: transparent;
  font-weight: 900;
  font-size: 32px;
  text-shadow: 0px 5px 0px #d9ac71;
}
.plans h1 {
  font-size: 56px;
  color: #6f4c5b;
  font-weight: 900;
}

.plan {
  background-color: #f6f4f5;
  padding: 24px;
  border-radius: 21px;
  transition: all 0.5s;
  position: relative;
  z-index: 1;
  margin: 20px 0;
}
.plan.active {
  top: -25px !important;
}
.plan h1 {
  margin: 20px 0;
  text-shadow: 0px 10px 0px #dbb48259;
  font-weight: 900;
  font-size: 63px;
  -webkit-text-stroke: 2px #dbb482;
  color: transparent;
  font-family: Montserrat, sans-serif;
  z-index: 1;
  transition: all 0.5s;
}

.plan h3 {
  color: #d9ac71;
  font-weight: 700;
  transition: all 0.5s;
  z-index: 1;
}
.plan div {
  background-color: #6f4c5b;
  color: #fff;
  padding: 12px 20px;
  border-radius: 13px;
  width: 80%;
  font-size: 16px;
}

.plan div span {
  padding: 5px 14px;
  background-color: #fff;
  color: #6f4c5b;
  font-size: 20px;
  font-weight: 900;
  margin-left: 14px;
  border-radius: 12px;
}

.plan::after {
  content: "";
  height: 0;
  position: absolute;
  width: 100%;
  transform-origin: top;
  -webkit-transform-origin: top;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  transition: all 0.5s;
  border-radius: 21px;
  background-color: #d9ac71;
}

.plan.active,
.plan:hover:after {
  height: 100%;
  top: auto;
  bottom: 0;
  transform-origin: bottom;
  -moz-transform-origin: bottom;
  -ms-transform-origin: bottom;
  /* -webkit-transform-origin: bottom; */
  -o-transform-origin: bottom;
  animation-duration: 0.5s;
  border-radius: 21px;
  background-color: #d9ac71;
}
.plan.active h3,
.plan:hover h3 {
  color: #fff;
}
.plan.active h1,
.plan:hover h1 {
  text-shadow: 0px 10px 0px #dbb582;
  font-weight: 900;
  font-size: 63px;
  -webkit-text-stroke: 2px #fff;
}

.plan:hover div {
  background-color: #fff;
  color: #6f4c5b;
}

.plan:hover div span {
}
